@font-face {
    font-family: GT Walsheim;
    src: url(../../Recursos/GTWalsheim/GT-Walsheim-Regular.ttf);
}

h1{
    font-family: GT Walsheim;
}

h2{
    font-family: GT Walsheim;
    font-weight: bold;
    font-size: 2.25rem;
}

h3{
    font-family: GT Walsheim;
}

p{
    font-family: GT Walsheim;
}

#logo{
    clip-path: inset();
}

.postularme-bg{
    background-color: #F9F9F9;
    width: 100%;
}

.out-flex{
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 250px;
}

.in-flex:first-child{
    flex: 2;
    margin: 20px;
}

.in-flex div{
    margin: 20px;
}

.blue-text{
    color: #1B26BC;
}

.grey-text{
    color: #686977; 
    font-size: 1.125rem;
}
/* .Qsomos{
    margin-top: 60px;
} */


.crop{
    /* clip-path: inset(0 25% 0 20%); */
    object-fit: cover;
    width: 540px;
    height: 556px;
    margin: 0px 45px 45px 0px;
    border-radius: 32px;
}

.row .col p {
    margin: 20px;
}

.container{
    margin-top: 60px;
}


.bnf-rows{
    min-width: 250px;
}

.bnf-col{
    width: auto;
    margin-top: 120px;
}

.beneficios-bg{
    background-color: #1B26BC;
    width: 15.625rem;
    height: 4.25rem;
    border-radius: 0px 0px 32px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.beneficios-bg p{
    padding-top: 15px;
}

.beneficios-txt{
    font-size: 1.125rem;
    color: white;
}

.subtittle{
    font-size: 36px;
}

.circle{
    width: 8.3125rem;
    height: 8.3125rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #1B26BC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.buscamos-txt{
    font-size: 1.5rem;
}

.pasosDeProceso{
    color: white;
}

.pasos{
    width: 9rem;
    height: auto;
    border-right: white;
    border-top: white;
}

.pasos-text{
    color: white;
    font-size: 1.5rem;
    border-right: white;
}

.boton{
    background-color: #1B26BC;
    width: 13.5625rem; 
    height: 3.5rem; 
    font-size: 1.75rem;
}

@media screen and (max-width:768px) {
  
    #hero-img-cell{
        display: block;
    }
    
    #hero-img-fluid-cell{
        display: none;
    }

    .postulate-cell{
        justify-content: center;
        text-align: center;
    }
}

@media screen and (min-width:768px) {
  
    #hero-img-cell{
        display: none;
    }
}